<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.home1"
    android:versionCode="1"
    android:versionName="1.0" >
	
	<uses-feature android:name="android.hardware.camera" android:required="true" />
    
    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="18" />
        <uses-permission android:name="android.permission.GET_ACCOUNTS"/>
    	<uses-permission android:name="android.permission.NETWORK"/>
    	<uses-permission android:name="android.permission.USE_CREDENTIALS"/>
    	<uses-permission android:name="android.permission.INTERNET"/>
    	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
		<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
 		<uses-permission android:name="android.permission.RECORD_AUDIO" />
		
    <application
        android:largeHeap="true"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.example.home1.Login"
            android:label="@string/app_name" 
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.home1.RTranslation"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="com.example.home1.LanguagesList"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="com.example.home1.Homepage"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="com.example.home1.LanguagesActivity"
            android:screenOrientation="portrait">
        </activity>
 		 <activity
            android:name="com.example.home1.LanguagesArrayAdapter"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="com.example.home1.Settings"
            android:screenOrientation="portrait">
        </activity>  
        
        <activity
            android:name="com.example.home1.Tr"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden">
        </activity> 
        <activity
            android:name="com.example.home1.Translation"
            android:screenOrientation="portrait">
        </activity> 
        
        <activity
            android:name="com.example.home1.ListAdapter"
            android:screenOrientation="portrait">
        </activity>    
        <activity
            android:name="com.example.home1.Similar"
            android:screenOrientation="portrait">
        </activity> 
        <activity
            android:name="com.example.home1.SimilarR"
            android:screenOrientation="portrait">
        </activity> 
        
        <activity
            android:name="com.example.home1.SimilarListAdapter"
            android:screenOrientation="portrait">
        </activity>
        
        <meta-data android:name="com.google.android.gms.version"
           android:value="@integer/google_play_services_version" />
    </application>
   
</manifest>
